body{
    background-image: url("background.jpg");
    margin:100px;
}
li{
    list-style: none;
    font-size: 30pt;
    font-family:cursive;
    margin-bottom:100px;
}
a{
    text-decoration: none;
    color: black;
}
#currentpage{
    background-color:white;
    padding-right:300px;
}
#head{
    position: absolute;
    margin-left:450px;
    margin-top: 100px;
}
#main{
    width:986px;
    height:908px;
    background-color:white;
    position:absolute;
    margin-left:500px;
    margin-top: 191px;
    font-size:28pt;
}
nav{
    margin-left: 10px;
    position:absolute;
}
footer{
    position: absolute;
    margin-top:1200px;
    margin-left:650px;
}
input[type=text]{
    width: 100%;
    height:60px;
    padding-top:60px;
    margin-top:30px;
    margin-bottom: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 20%;
    background-color: rgb(162,224,255);
    color: black;
    font-size:28;
    padding: 14px 20px;
    margin: 8px 40%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#firstline{
    margin-top:20px;
}
